# Исключение виртуального окружения
.venv/
venv/

# Файл конфигурации виртуального окружения
pyvenv.cfg

# Файлы среды разработки
.idea/
.vscode/

# Файлы логов
*.log

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы с секретами и окружением
.env
*.env

# Исключение зависимостей
*.lock
Pipfile
Pipfile.lock

# Игнорирование тестовых файлов (при необходимости)
testing.py
smt8.py